{% extends "base.html" %}
{% block content %}
    <h2>// USER_PROFILE_DATA</h2>
    {% if user %}
        <p>>> USERNAME: {{ user['username'] }}</p>
        <p>>> ROLE: {{ user['role'] }}</p>
        <p>>> BIO: {{ user['bio'] }}</p>
        
        {% if user['role'] == 'admin' %}
            <div style="color: yellow; border: 1px solid yellow; padding: 10px;">
                WARNING: YOU ARE VIEWING AN ADMIN PROFILE. 
                FLAG: CTF{IDOR_MASTER_ACCESS_GRANTED}
            </div>
        {% endif %}
    {% else %}
        <p class="error">>> USER_NOT_FOUND</p>
    {% endif %}
{% endblock %}