{% extends "base.html" %}
{% block content %}
    <h1>// SYSTEM_PROFILE_DATA</h1>
    <p style="color: #555;">[ INDEXING INTERNAL RECORDS ]</p>
    <div style="border: 1px dashed #444; padding: 20px; background: rgba(0,0,0,0.5); text-align: left; font-size: 0.8rem; line-height: 1.8;">
        User: NULL<br>
        Clearance: 0<br>
        Routing: DEPRECATED<br>
        <br>
        <span style="color: #880000;">ERR: Flag not found here. CTF{NICE_TRY_RABBIT_HOLE_1}</span>
    </div>
{% endblock %}
